.header {
    color:#36A0FF;
    font-size:27px;
    padding:10px;
}

.header-black {
    color:#000;
    font-size:27px;
    padding:10px;
}

.header-grey {
    color:#d3d3d3;
    font-size:27px;
    padding:10px;
}

.bigicon {
    font-size:35px;
    color:#36A0FF;
}