<div class="container">
    <div class="row bodycolor">
        <br />
        <br />
        <div class="col-md-12">
            <div class="form-group">
                <div class="input-group">
                    <textarea name="InputMessage" id="InputMessage" class="form-control" placeholder="Enter Comment"></textarea>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <div class="btn-group">
                <a id="pt1" data-toggle="dropdown" class="btn btn-info allicon">
                    Login Using
                </a>
                <button id="pt2" href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share allicon">
                    <span class="fa fa-share "></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a id="twitter" data-original-title="Twitter" href="#" data-placement="left">
                            <i class="fa fa-twitter allicon twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a id="facebook" data-original-title="Facebook" href="#" data-placement="left">
                            <i class="fa fa-facebook allicon facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a id="google" data-original-title="Google+" href="#" data-placement="left">
                            <i class="fa fa-google-plus allicon google"></i>
                        </a>
                    </li>
                    <li>
                        <a id="linkedin" data-original-title="LinkedIn" href="#" data-placement="left">
                            <i class="fa fa-linkedin allicon linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a id="pinterest" data-original-title="Pinterest" data-placement="left">
                            <i class="fa fa-pinterest allicon pinterest"></i>
                        </a>
                    </li>                   
                </ul>
            </div>
        </div>
    </div>
</div>
