.my-thumbnails{
  margin: 3%;
}

.listing-image{
  margin-left: 25px;
  margin-top: 5%;
  border: solid black;
}

.listing-price{
  color: #000;
  text-align: center;
  margin-top: 10%;
}

.listing-info{
  margin-bottom: 0;
  font-weight: bold;
}

.listing-info p{
  color: #000;
  padding: 0;
  margin: 0;
  text-align: center;
}